@{
    ViewBag.Title = "GetMap";
}

@{var weeklength = 5;}
@Html.Partial("MapForm")
<input id="mytextbox" name="textbox" type="text" value="@ViewBag.latitude.ToString()" />
<input id="mytextbox2" name="textbox" type="text" value="@ViewBag.longitude.ToString()" />

<div id="weathertablediv">
    <table border="1">
        <tr>
            <th>@Model.day1day.ToString() </th>
            <th>@Model.day2day.ToString() </th>
            <th>@Model.day3day.ToString() </th>
            <th>@Model.day4day.ToString() </th>
            <th>@Model.day5day.ToString() </th>
        </tr>
        <tr>
            <td>@Model.day1temp.ToString() grader</td>
            <td>@Model.day2temp.ToString() grader</td>
            <td>@Model.day3temp.ToString() grader</td>
            <td>@Model.day4temp.ToString() grader</td>
            <td>@Model.day5temp.ToString() grader</td>
        </tr>
        <tr>
            <!-- Byt nu ut den här mot en dynamisk variant -->
            @if (Model.day1temp > 20)
            {
                <td><img src="~/Content/themes.base.images.sun.jpeg" alt="en sol"></td>
            }
            else if (Model.day1temp < 20 && Model.day1temp > 5)
            {
                <td><img src="../../../Content/themes/base/images/rain.png" alt="regn" height="42" width="42"> </td>
            }
            else
            {
                <td><img src="../../../Content/themes/base/images/snow.png" alt="snö" height="42" width="42"> </td>
            }

            @if (Model.day2temp > 20)
            {
                <td><img src="~/Content/themes.base.images.sun.jpeg" alt="en sol"></td>
            }
            else if (Model.day2temp < 20 && Model.day2temp > 5)
            {
                <td><img src="../../../Content/themes/base/images/rain.png" alt="regn" height="42" width="42"> </td>
            }
            else
            {
                <td><img src="../../../Content/themes/base/images/snow.png" alt="snö" height="42" width="42"> </td>
            }

            @if (Model.day3temp > 20)
            {
                <td><img src="~/Content/themes.base.images.sun.jpeg" alt="en sol"></td>
            }
            else if (Model.day3temp < 20 && Model.day2temp > 5)
            {
                <td><img src="../../../Content/themes/base/images/rain.png" alt="regn" height="42" width="42"> </td>
            }
            else
            {
                <td><img src="../../../Content/themes/base/images/snow.png" alt="snö" height="42" width="42"> </td>
            }

            @if (Model.day4temp > 20)
            {
                <td><img src="~/Content/themes.base.images.sun.jpeg" alt="en sol"></td>
            }
            else if (Model.day4temp < 20 && Model.day2temp > 5)
            {
                <td><img src="../../../Content/themes/base/images/rain.png" alt="regn" height="42" width="42"> </td>
            }
            else
            {
                <td><img src="../../../Content/themes/base/images/snow.png" alt="snö" height="42" width="42"> </td>
            }

            @if (Model.day5temp > 20)
            {
                <td><img src="~/Content/themes.base.images.sun.jpeg" alt="en sol"></td>
            }
            else if (Model.day5temp < 20 && Model.day2temp > 5)
            {
                <td><img src="../../../Content/themes/base/images/rain.png" alt="regn" height="42" width="42"> </td>
            }
            else
            {
                <td><img src="../../../Content/themes/base/images/snow.png" alt="snö" height="42" width="42"> </td>
            }

        </tr>
    </table>
</div>

<div id="mapdiv" style="width:400px;height:400px;">
    <p>Kartan visas över platsen som användaren har valt</p>
</div>

@Html.ActionLink("Sök ny plats", "PlaceInput")
@Html.ActionLink("Visa fler sökningar som du har gjort", "PlaceInput")
<p>Den här länken ska gå till en actionmetod som hämtar alla sökningarna från användaren, baserat på användarid</p>
<p>Länkar ska dyka upp som genererar id'n, där man kan ta bort, och välja varje plats som man valt</p>

@Html.ActionLink("Spara sökningen?", "PlaceInput")

<script>
    function initialize() {

        var textbox = document.getElementById("mytextbox");
        var myvalue = textbox.value;
        var mynewvalue = myvalue.replace(/,/g, '.')
        var textbox2 = document.getElementById("mytextbox2");
        var myvalue2 = textbox2.value;
        var mynewvalue2 = myvalue2.replace(/,/g, '.');

        /*
         $.ajax({  type: "GET",
             url: "http://localhost:49410/Home/AjaxGetObjectInfo?placeName=place",
             })
             .done(function( msg )
             {
                 //msg som returneras in, ska innehålla koordinaterna.
             }

         */
        var myCenter = new google.maps.LatLng(mynewvalue, mynewvalue2);
        var mapProp = {
            center: myCenter,
            zoom: 5,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var map = new google.maps.Map(document.getElementById("mapdiv"), mapProp);
        var marker = new google.maps.Marker({
            position: myCenter,
        });
        marker.setMap(map);
    }

</script>

<!--Bildvägar<tr>
        <td><img src="../../../Content/themes/base/images/sun.png" alt="sol" height="42" width="42"> </td>
        <td><img src="../../../Content/themes/base/images/rain.png" alt="regn" height="42" width="42"> </td>
        <td><img src="../../../Content/themes/base/images/snow.png" alt="snö" height="42" width="42"> </td>
        <td><img src="../../../Content/themes/base/images/cloudy.png" alt="moln" height="42" width="42"> </td>
        <td><img src="../../../Content/themes/base/images/toohot.png" alt="för varmt" height="42" width="42"> </td>
</tr> -->

